<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      Project-Sensei
    </title>
    <!--     Fonts and icons     -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"
    />
    <!-- Nucleo Icons -->
    <link href="css/nucleo-icons.css" rel="stylesheet" />
    <link href="css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script
      src="https://kit.fontawesome.com/42d5adcbca.js"
      crossorigin="anonymous"
    ></script>
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link
      id="pagestyle"
      href="css/material-dashboard.css?v=3.0.0"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="min-vh-100"
      style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');"
    >
      <div class="text-center">
        <a href="/signupmentor"><button
            type="button"
            class="btn btn-lg bg-gradient-primary btn-lg w-30 mt-12 mb-0"
          >Mentor</button>
        </a>
        <br />
        <a href="/signupmentee"><button
            type="button"
            class="btn btn-lg bg-gradient-primary btn-lg w-30 mt-5 mb-0"
          >Mentee</button></a>
      </div>
    </div>

  </body>
</html>